/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  user-select: none;
}

:root {
  --first-color: #fafcff;
  --second-color: #ededf7;
  --highlight-color: #1587ff;
  --text-color: #24282a;

  --selected-color: #000000;
  --tool-icon-color: #000000;
  --move-tool-color: rgb(12, 16, 233);
  --delete-onclick-color: rgb(231, 11, 11);
  --delete-all-color: rgb(181, 7, 7);

  --rect-size: 35.6px;
  --rect-margin: 3.36px;
}

body.hide-animations-transitions * {
  animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s,
    padding 0s, margin 0s !important;
}

.popup {
  display: grid;
  justify-items: center;
  width: 350px;
  background: var(--first-color);
}

.colors-tools,
.settings-tools {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.colors-tools.hide,
.settings-tools.hide {
  display: none;
}

.colors-tools label,
.settings-tools label {
  outline: none;
  border: none;
  color: #fafcff;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 2rem;
  background: var(--highlight-color);
  box-shadow: 0 0 0.3rem var(--highlight-color);
  transition: 0.3s ease;
}

.colors-tools label:hover,
.settings-tools label:hover {
  box-shadow: none;
}

/* Counter hidden color-palette margin */
#eye-dropper-button {
  margin-left: 65px;
}

#settings-button,
#light-dark-button {
  margin-right: 0;
}

#color-palette {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0;
  border: 0;
  margin-top: -16px;
  margin-left: 65px;
}

.settings-panel {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.settings-panel label {
  font-size: 1rem;
  color: var(--text-color);
}

.settings-panel.hide {
  display: none;
}

.options {
  display: grid;
  grid-template: "a a" "b b";
  align-items: center;
  gap: 1.5rem;
  background-color: var(--second-color);
  box-shadow: 0 0 0.3rem var(--second-color);
  border-color: var(--second-color);
}

.settings-panel .info {
  display: grid;
  justify-items: center;
  text-align: center;
  margin-top: 1rem;
  gap: 0.1rem;
}

.settings-panel .info h3 {
  font-size: 0.8rem;
  color: var(--text-color);
}

.settings-panel .info h4 {
  font-size: 0.8rem;
  color: var(--text-color);
}

.settings-panel .info span {
  color: var(--highlight-color);
}

.settings-panel .link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.settings-panel .info i {
  font-size: 1.4rem;
  color: var(--highlight-color);
}

.codes-messages {
  display: flex;
  justify-content: space-around;
}

.codes-messages.hide {
  display: none;
}

.color-codes {
  position: absolute;
  margin-top: 11px;
  margin-right: 240px;
  display: grid;
  gap: 0.8rem;
}

.color-codes h2 {
  font-size: 0.6rem;
  color: #fafcff;
}

.color-codes button {
  outline: none;
  border: none;
  color: #fafcff;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px 2px;
  background: var(--highlight-color);
  box-shadow: 0 0 0.3rem var(--highlight-color);
  transition: 0.3s ease;
}

.color-codes button:hover {
  box-shadow: none;
}

.display-messages {
  position: absolute;
  display: grid;
  justify-items: center;
  margin-top: 48px;
  margin-left: 225px;
  color: var(--text-color);
  opacity: 100;
  transition: 0.5s ease;
}

.display-messages.hide {
  opacity: 0;
  pointer-events: none;
}

#display-message-text {
  font-size: 0.65rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#display-message-color-code {
  font-size: 0.6rem;
}

.selected-color-rect.hide {
  display: none;
}

.selected-color {
  display: flex;
  margin: 1rem;
}

.selected-color .rect {
  cursor: pointer;
  height: 100px;
  width: 100px;
  border-radius: 15%;
  border: 1px solid var(--text-color);
  box-shadow: 0 0 10px var(--selected-color);
  transition: 0.3s ease;
}

.selected-color .rect:hover {
  transform: scale(1.25);
  border-radius: 5%;
  box-shadow: none;
}

.selected-color .rect i {
  display: block;
  color: #fafcff;
  text-shadow: 0px 0px 3px var(--highlight-color),
    0 0 3px var(--highlight-color), 0 0 3px var(--highlight-color);
  font-size: 50px;
  text-align: center;
  margin-top: 22px;
}

.saved-colors-panel {
  margin-top: 1rem;
  background-color: var(--second-color);
  box-shadow: 0 0 0.3rem var(--second-color);
}

.saved-colors-panel.hide {
  display: none;
}

.collapse-saved-colors-tools {
  position: flex;
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-bottom: -10px;
  cursor: pointer;
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-color);
}

.saved-colors-tools {
  display: flex;
  gap: 25px;
  margin-left: 60px;
  margin-top: -26px;
  margin-bottom: -25px;
  animation: collapseShow 0.4s ease-in-out forwards;
}

.saved-colors-tools.hide {
  animation: collapseHide 0.4s ease-in-out forwards;
}

@keyframes collapseShow {
  0% {
    opacity: 0%;
    transform: translateX(-500px);
  }

  40% {
    opacity: 20%;
  }

  100% {
    opacity: 100%;
    transform: translateX(0px);
  }
}

@keyframes collapseHide {
  0% {
    opacity: 100%;
    transform: translateX(0px);
  }

  60% {
    opacity: 20%;
  }

  100% {
    opacity: 0%;
    transform: translateX(-500px);
  }
}

.saved-colors-tools .saved-colors-count {
  color: var(--text-color);
  font-size: 1rem;
  margin-top: 4px;
}

.saved-colors-panel #move-color,
#delete-on-click,
#delete-all {
  font-size: 1.5rem;
  text-shadow: 0px 0px 3px var(--first-color), 0 0 3px var(--first-color),
    0 0 3px var(--first-color);
  margin-top: 5px;
  cursor: pointer;
}

.saved-colors-panel #move-color {
  color: var(--move-tool-color);
}

.saved-colors-panel #delete-on-click {
  color: var(--delete-onclick-color);
}

.saved-colors-panel #delete-all {
  color: var(--delete-all-color);
}

.saved-colors {
  display: grid;
  justify-self: center;
  padding: 0.3rem;
  margin-top: 23px;
  grid-template-columns: repeat(8, 1fr);
  list-style-type: none;
}

.saved-colors .color .rect {
  cursor: pointer;
  display: block;
  height: var(--rect-size);
  width: var(--rect-size);
  margin: var(--rect-margin);
  border-radius: 15%;
  border: 1px solid var(--text-color);
  transition: 0.3s ease;
}

.saved-colors .color .rect:hover {
  transform: scale(1.25);
  border-radius: 5%;
  border: 1px solid var(--highlight-color);
}

.saved-colors .color .rect.draggable {
  border-color: var(--move-tool-color);
  animation: 1.5s infinite normal shake;
}

.saved-colors .color .rect.draggable:hover {
  border-color: var(--highlight-color);
  animation-duration: 0.2s;
}

.saved-colors .color .rect.dragging,
.closest {
  border-radius: 5% !important;
  border-color: var(--text-color) !important;
  animation: 0.2s infinite normal shake !important;
  transition: none !important;
}

.saved-colors .color .rect.deletable {
  border-color: var(--delete-onclick-color);
  animation: 1.5s infinite normal shake;
}

.saved-colors .color .rect.deletable:hover {
  border-color: var(--highlight-color);
  animation-duration: 0.2s;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.saved-colors .color i {
  display: block;
  color: var(--tool-icon-color);
  text-shadow: 0px 0px 3px black, 0 0 3px black, 0 0 3px black;
  font-size: calc(var(--rect-size) * 0.5);
  text-align: center;
  margin-top: calc(var(--rect-margin) * 2.5);
}
