@inherits PageBase

@page "/"

<SelectedColor NavigationManager=NavigationManager />
<div class="p-4">
    <ColorCodeTabs LocalStorageService=LocalStorageService EventAggregator=EventAggregator />
    <ColorCodePanel LocalStorageService=LocalStorageService EventAggregator=EventAggregator />
</div>
