@inherits PageBase

@page "/"

@if (!_isInitialized)
    return;

<SelectedColor NavigationManager=NavigationManager JSRuntime=JSRuntime LocalStorageService=LocalStorageService EventAggregator=EventAggregator StateService=StateService />
<div class="px-3 py-2">
    <ColorCodeTabs LocalStorageService=LocalStorageService EventAggregator=EventAggregator />
    <ColorCodePanel JSRuntime=JSRuntime LocalStorageService=LocalStorageService EventAggregator=EventAggregator />
</div>

<div class="grid gap-3 bg-[var(--secondary-color)] px-3 pt-1 pb-2">
    <ColorsToolBar JSRuntime=JSRuntime LocalStorageService=LocalStorageService EventAggregator=EventAggregator StateService=StateService />
    <ColorsGrid JSRuntime=JSRuntime LocalStorageService=LocalStorageService EventAggregator=EventAggregator />
</div>

@code {
    private bool _isInitialized;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (JSRuntime is null || LocalStorageService is null)
            return;

        _ = LocalStorageService.SetThemeAsync(Theme.Light, false);
        await LocalStorageService.ValidateAsync();
        _isInitialized = true;
        _ = JSRuntime.InvokeVoidAsync(JsFuncs.IsInitialized.Value());
        StateHasChanged();
    }
}
