@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<main class="min-w-[300px] max-w-[300px] bg-[var(--primary-color)] text-[var(--text-color)] transition-all duration-1000">
    @Body
</main>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            NavigationManager.NavigateTo("/");
    }
}
