@inherits ButtonBase

<button class=@Class
        @ref=button
        @onclick=HandleOnClickAsync>

    <img class="@GetIconSizeClass() @(IconThemeFilter ? "theme-filter" : string.Empty)"
         src=@IconPath />

    <h4>@Label</h4>
</button>

@code {
    [Parameter]
    public string? Label { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Class = "inline-flex items-center justify-center h-9 gap-2 rounded-md px-3 bg-[var(--primary-color)] border border-[var(--secondary-color)] transition-colors duration-500 hover:bg-[var(--secondary-color)]";
    }
}
