@font-face {
    font-family: Poppins;
    src: url("Poppins-Regular.ttf") format("woff2"), url("Poppins-Regular.ttf") format("woff"), url("Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: ##ffffff;
    --secondary-color: #f4f4f5;
    --text-color: #787881;
    --selected-color: #22bb33;
    --move-tool-color: #00b3e1;
    --tintsshades-tool-color: #e86100;
    --delete-tool-color: #dd1144;
    --theme-filter: invert(94%) sepia(99%) saturate(28%) hue-rotate(252deg) brightness(106%) contrast(96%);
    --light-theme-filter: invert(94%) sepia(99%) saturate(28%) hue-rotate(252deg) brightness(106%) contrast(96%);
    --dark-theme-filter: invert(0%) sepia(42%) saturate(16%) hue-rotate(37deg) brightness(101%) contrast(92%);
    --text-filter: invert(52%) sepia(8%) saturate(328%) hue-rotate(202deg) brightness(90%) contrast(92%);
    --light-text-filter: invert(52%) sepia(8%) saturate(328%) hue-rotate(202deg) brightness(90%) contrast(92%);
    --dark-text-filter: invert(71%) sepia(6%) saturate(308%) hue-rotate(202deg) brightness(91%) contrast(83%);
    --move-tool-filter: invert(72%) sepia(84%) saturate(2808%) hue-rotate(148deg) brightness(81%) contrast(122%);
    --tintsShades-tool-filter: invert(38%) sepia(81%) saturate(2326%) hue-rotate(8deg) brightness(98%) contrast(101%);
    --delete-tool-filter: invert(17%) sepia(94%) saturate(4925%) hue-rotate(337deg) brightness(88%) contrast(97%);
}

.theme-filter {
    filter: var(--theme-filter);
}

.text-filter {
    filter: var(--text-filter);
}

[id^="colorRectangle"].dragging,
[id^="colorRectangle"].replacing {
    transform: scale(1.10);
    border-radius: 5%;
    --tw-ring-color: var(--theme-invert-color) !important;
}

[id^="colorTool-"].active img,
[id^="colorTool-"]:hover img {
    filter: var(--theme-filter);
}

[id^="colorRectangle"] img {
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
}

[id^="colorRectangle"]:hover img {
    opacity: 1;
    pointer-events: auto;
}

[id^="colorRectangle"] h4 {
    transition: .3s ease;
}

[id^="colorRectangle-active"] h4,
[id^="colorRectangle"]:hover h4 {
    font-size: 0px;
}

[id^="colorRectangle"] img[src*="move.svg"] {
    filter: var(--move-tool-filter) drop-shadow(0 0 2px black);
}

[id^="colorRectangle"] img[src*="tintsShades.svg"] {
    filter: var(--tintsShades-tool-filter) drop-shadow(0 0 2px black);
}

[id^="colorRectangle"] img[src*="delete.svg"] {
    filter: var(--delete-tool-filter) drop-shadow(0 0 2px black);
}

img[src=""] {
    display: none;
}

#themeOption {
    position: absolute;
    width: 300px;
    height: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 70px;
    background-color: var(--secondary-color);
    transition: background-color 1s;
}

#themeOptionWrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    overflow: hidden;
    z-index: 2;
}

#circle {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0%;
    top: 50%;
    transform: translate(-0%, -50%);
    border-radius: 50%;
    background-color: rgb(255, 233, 183);
    box-shadow: 0 0 20px 10px rgb(255, 233, 183), 0 0 40px 30px rgb(255, 219, 140), 0 0 90px 50px rgb(255, 209, 109);
    transition: left 1s, transform 1s, width 1s, height 1s, box-shadow 1s, background-color 1s 0.2s;
    z-index: 1;
}

    #circle::before,
    #circle::after {
        content: "";
        position: absolute;
        width: 12px;
        height: 20px;
        left: 13%;
        top: 30%;
        border-radius: 50%;
        background-color: rgb(183, 188, 187);
        box-shadow: 0 0 4px 1px rgb(183, 188, 187), 0 0 10px 6px rgb(192, 198, 197);
        opacity: 0;
        transition: opacity 0s;
    }

    #circle::after {
        height: 12px;
        left: 60%;
        top: 75%;
        box-shadow: 0 0 3px 1px rgb(183, 188, 187), 0 0 5px 4px rgb(192, 198, 197);
    }

#themeOption.dark #circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(237, 242, 241);
    left: 100%;
    transform: translate(-100%, -50%);
    box-shadow: 0 0 20px 3px rgb(244, 247, 246);
}

    #themeOption.dark #circle::before,
    #themeOption.dark #circle::after {
        opacity: 1;
        transition: opacity 1s 0.2s;
    }

.star {
    position: absolute;
    width: 6px;
    height: 6px;
    left: 80%;
    top: 50%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 5px 0px rgb(255,255,255);
    animation: none;
    opacity: 0;
}

    .star::before,
    .star::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 1px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        background-color: white;
        box-shadow: 0 0 4px 0px rgb(255,255,255);
        animation: growbrighter 1s linear alternate infinite;
    }

    .star::after {
        width: 1px;
        height: 20px;
    }

#themeOption.dark .star {
    opacity: 1;
    transition: opacity 1s 1.5s;
}

#themeOption.dark #stars .star:nth-of-type(1) {
    animation: startravel1 15s linear infinite;
    animation-delay: 0.4s;
}

#themeOption.dark #stars .star:nth-of-type(2) {
    animation: startravel2 12s linear infinite;
    animation-delay: 0.2s;
}

#themeOption.dark #stars .star:nth-of-type(3) {
    animation: startravel3 18s linear infinite;
    animation-delay: 0s;
}

@keyframes growbrighter {

    0% {
        box-shadow: 0 0 4px 0px rgb(255,255,255);
    }

    100% {
        box-shadow: 0 0 15px 0px rgb(255,255,255);
    }
}

@keyframes startravel1 {
    0% {
        transform: rotate(65deg) translate(-80px) scale(1.0);
    }

    100% {
        transform: rotate(-60deg) translate(-80px) scale(1.3);
    }
}

@keyframes startravel2 {
    0% {
        transform: rotate(27deg) translate(-160px) scale(1.6);
    }

    100% {
        transform: rotate(-25deg) translate(-160px) scale(1.2);
    }
}

@keyframes startravel3 {

    0% {
        transform: rotate(22deg) translate(-200px) scale(1.2);
    }

    100% {
        transform: rotate(-20deg) translate(-200px) scale(0.7);
    }
}

.cloud:nth-of-type(1) {
    position: absolute;
    width: 50px;
    height: 55px;
    left: -80px;
    top: 5px;
    border-radius: 50%;
    background: radial-gradient(rgb(255, 255, 255) 30%, rgb(230, 230, 230));
    z-index: 2;
    opacity: 1;
    transition: opacity 1s 0.4s;
    animation: cloudtravel1 22s linear infinite;
    animation-delay: 5.4s;
}

    .cloud:nth-of-type(1)::before,
    .cloud:nth-of-type(1)::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 20px;
        left: -55%;
        top: 70%;
        transform: translate(100%,-0%);
        border-radius: 50%;
        background: inherit;
        z-index: 3;
    }

    .cloud:nth-of-type(1)::after {
        width: 40px;
        height: 30px;
        left: 100%;
        top: 50%;
        transform: translate(-70%,-0%);
    }

    .cloud:nth-of-type(1) .cloudElement:nth-of-type(1) {
        content: "";
        position: absolute;
        width: 60px;
        height: 45px;
        left: -100%;
        bottom: 0%;
        transform: translate(40%, -0%);
        border-radius: 50%;
        background: inherit;
        z-index: 2;
    }

    .cloud:nth-of-type(1) .cloudElement:nth-of-type(2) {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        left: 100%;
        bottom: 0%;
        transform: translate(-50%, -0%);
        border-radius: 50%;
        background: inherit;
        z-index: 2;
    }

    .cloud:nth-of-type(1) .cloudElement:nth-of-type(1)::after {
        content: "";
        position: absolute;
        width: 55px;
        height: 35px;
        left: 50%;
        top: 50%;
        transform: translate(-35%,-50%);
        border-radius: 50%;
        background: inherit;
        z-index: 3;
    }

    .cloud:nth-of-type(1) .cloudElement:nth-of-type(2)::before {
        content: "";
        position: absolute;
        width: 45px;
        height: 40px;
        left: -50%;
        top: 50%;
        transform: translate(20%,-70%);
        border-radius: 50%;
        background: inherit;
        z-index: 3;
    }

.cloud:nth-of-type(2) {
    position: absolute;
    width: 55px;
    height: 50px;
    left: -90px;
    top: 26px;
    border-radius: 50%;
    background: radial-gradient(rgb(255, 255, 255) 30%, rgb(230, 230, 230));
    z-index: 2;
    opacity: 1;
    transition: opacity 1s 0.4s;
    animation: cloudtravel2 18s linear infinite;
    animation-delay: 1.2s;
}

    .cloud:nth-of-type(2)::before,
    .cloud:nth-of-type(2)::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 20px;
        left: -55%;
        top: 70%;
        transform: translate(100%,-30%);
        border-radius: 50%;
        background: inherit;
        z-index: 3;
    }

    .cloud:nth-of-type(2)::after {
        width: 40px;
        height: 30px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-40%);
    }

    .cloud:nth-of-type(2) .cloudElement:nth-of-type(1) {
        content: "";
        position: absolute;
        width: 55px;
        height: 45px;
        left: -100%;
        bottom: 0%;
        transform: translate(50%, -0%);
        border-radius: 50%;
        background: inherit;
        z-index: 2;
    }

    .cloud:nth-of-type(2) .cloudElement:nth-of-type(2) {
        content: "";
        position: absolute;
        width: 50px;
        height: 40px;
        left: 100%;
        bottom: 0%;
        transform: translate(-50%, -0%);
        border-radius: 50%;
        background: inherit;
        z-index: 2;
    }

    .cloud:nth-of-type(2) .cloudElement:nth-of-type(1)::after {
        content: "";
        position: absolute;
        width: 55px;
        height: 30px;
        left: 50%;
        top: 50%;
        transform: translate(-35%,-20%);
        border-radius: 50%;
        background: inherit;
        z-index: 3;
    }

    .cloud:nth-of-type(2) .cloudElement:nth-of-type(2)::before {
        content: "";
        position: absolute;
        width: 50px;
        height: 35px;
        left: -50%;
        top: 50%;
        transform: translate(10%,-40%);
        border-radius: 50%;
        background: inherit;
        z-index: 3;
    }

.cloud:nth-of-type(3) {
    position: absolute;
    width: 50px;
    height: 40px;
    left: -100px;
    top: 48px;
    border-radius: 50%;
    z-index: 3;
    opacity: 1;
    background: radial-gradient(rgb(255, 255, 255) 30%, rgb(230, 230, 230));
    transition: opacity 1s 0.4s;
    animation: cloudtravel3 30s linear infinite;
    animation-delay: 8.6s;
}

    .cloud:nth-of-type(3)::before,
    .cloud:nth-of-type(3)::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 30px;
        left: -50%;
        top: 50%;
        transform: translate(25%, -30%);
        border-radius: 50%;
        z-index: 3;
        background: radial-gradient(rgb(255, 255, 255) 30%, rgb(230, 230, 230));
    }

    .cloud:nth-of-type(3)::after {
        height: 25px;
        left: 50%;
        transform: translate(5%, -60%);
    }

    .cloud:nth-of-type(3) .cloudElement:nth-of-type(1) {
        position: absolute;
        width: 45px;
        height: 35px;
        left: -50%;
        top: 50%;
        border-radius: 50%;
        z-index: 2;
        transform: translate(0%, -40%);
        background: radial-gradient(rgb(255, 255, 255) 30%, rgb(230, 230, 230));
    }

        .cloud:nth-of-type(3) .cloudElement:nth-of-type(1)::before {
            content: "";
            position: absolute;
            width: 30px;
            height: 20px;
            left: -30%;
            top: 50%;
            transform: translate(-0%, -60%);
            border-radius: 50%;
            z-index: 3;
            background: radial-gradient(rgb(255, 255, 255) 30%, rgb(230, 230, 230));
        }

        .cloud:nth-of-type(3) .cloudElement:nth-of-type(1)::after {
            content: "";
            position: absolute;
            width: 20px;
            height: 15px;
            left: 0%;
            top: 50%;
            transform: translate(-0%, 10%);
            border-radius: 50%;
            z-index: 3;
            background: radial-gradient(rgb(255, 255, 255) 30%, rgb(230, 230, 230));
        }

    .cloud:nth-of-type(3) .cloudElement:nth-of-type(2) {
        position: absolute;
        width: 50px;
        height: 45px;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        z-index: 2;
        transform: translate(10%, -20%);
        background: radial-gradient(rgb(255, 255, 255) 30%, rgb(230, 230, 230));
    }

        .cloud:nth-of-type(3) .cloudElement:nth-of-type(2)::before {
            content: "";
            position: absolute;
            width: 35px;
            height: 25px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            z-index: 3;
            background: radial-gradient(rgb(255, 255, 255) 30%, rgb(230, 230, 230));
        }

        .cloud:nth-of-type(3) .cloudElement:nth-of-type(2)::after {
            content: "";
            position: absolute;
            width: 35px;
            height: 25px;
            left: 60%;
            top: 50%;
            transform: translate(-0%, -40%);
            border-radius: 50%;
            z-index: 3;
            background: radial-gradient(rgb(255, 255, 255) 30%, rgb(230, 230, 230));
        }

    .cloud:nth-of-type(3) .cloudElement:nth-of-type(3) {
        position: absolute;
        width: 55px;
        height: 40px;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        z-index: 2;
        transform: translate(-50%, -10%);
        background: radial-gradient(rgb(255, 255, 255) 30%, rgb(230, 230, 230));
    }

        .cloud:nth-of-type(3) .cloudElement:nth-of-type(3)::before {
            content: "";
            position: absolute;
            width: 40px;
            height: 25px;
            left: -50%;
            top: 50%;
            transform: translate(40%, -30%);
            border-radius: 50%;
            z-index: 3;
            background: radial-gradient(rgb(255, 255, 255) 30%, rgb(230, 230, 230));
        }

#themeOption.dark .cloud:nth-of-type(1),
#themeOption.dark .cloud:nth-of-type(2),
#themeOption.dark .cloud:nth-of-type(3) {
    animation: none;
    opacity: 0;
    transition: opacity .5s 0s;
}

@keyframes cloudtravel1 {

    0% {
        left: -80px;
        transform: scale(1);
    }

    100% {
        left: 330px;
        transform: scale(0.8);
    }
}

@keyframes cloudtravel2 {

    0% {
        left: -90px;
        transform: scale(0.6);
    }

    100% {
        left: 330px;
        transform: scale(1);
    }
}

@keyframes cloudtravel3 {

    0% {
        left: -100px;
        transform: scale(0.7);
    }

    100% {
        left: 340px;
        transform: scale(0.65);
    }
}

.toggle-option {
    outline: 0;
    display: block;
    width: 60px;
    height: 24px;
    position: relative;
    cursor: pointer;
    user-select: none;
    background: var(--secondary-color);
    border-radius: 70px;
    padding: 2px;
    transition: all 1s ease;
}

    .toggle-option:after {
        position: relative;
        display: block;
        content: "";
        width: 35%;
        height: 100%;
        border-radius: 70px;
        background: var(--primary-color);
        transition: left 1s cubic-bezier(0.2, 0.9, 0.3, 1), padding 1s ease, margin 1s ease;
        left: 0;
    }

    .toggle-option[active="true"] {
        background: var(--theme-invert-color);
    }

        .toggle-option[active="true"]:after {
            left: 65%;
        }

    .toggle-option:active:after {
        padding-right: .8em;
    }
