@inherits ButtonBase

<button class=@Class @ref=button @onclick=HandleOnClickAsync>
    <img class="@GetIconSizeClass() theme-filter" src=@IconPath />
    <h3 class="font-semibold">@Label</h3>
</button>

@code {
    [Parameter]
    public string? Label { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Class = "inline-flex items-center justify-center h-9 gap-2 rounded-md px-3 bg-[var(--primary-color)] border border-[var(--secondary-color)] transition-colors duration-1000 hover:bg-[var(--secondary-color)]";
    }
}
